#PYTHON THINGS
*.pyc
__pycache__/

#LINUX THINGS
*.directory
.directory
..*.kate-swp

#BACKUPS
*.*~
~*.*
*.py~

#SENSITIVE INFO
bot/secrets.txt
bot/secrets-bk.txt
bot/util/prawUser.py
bot/util/praw_util.py
bot/util/botlst.py
bot/txt/interpreter.txt
rewrite/tokens.json

#SERVER DATA
*.json
*.sqlite3

#UNIMPORTANT FILES
*.mat
*.png
*.jpg

#OTHERS
*.kdev4
kdev4/
